@import "variables";

#content-area{
  margin-left: 280px;
  padding: 15px;

  .heading{
    h1{
      color: $purple;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
    p{
      color: $greyLightFont2;
      font-size: .8rem;
      margin-bottom: 10px;
    }
  }

  .cards{
    margin-bottom: 30px;

    .card{
      background: white;
      border-radius: 5px ;
      padding: 20px;
      overflow: auto;

      .user-img{
        background: url("/img/57.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        margin: 0 auto;
      }

      .user-name{
        font-size: 1rem;
        color: $purple;
        display: block;
        text-align: center;
        margin: 10px 0;
      }

      .user-title{
        display: block;
        font-size: .8rem;
        text-align: center;
        margin: 10px 0;
      }

      .education{
        font-size: .7rem;
        display: inline-block;
        color: $greyLightFont;
      }

      .schools{
        font-size: .7rem;
        display: inline-block;
      }

      h6{
        font-size: .8rem;
        color: grey;
      }

      .date{
        font-size: 1.3rem;
        display: block;
        border-left: 5px solid $greenNeon;
        position: relative;
        left: -20px;
        padding: 5px 40px;
        margin: 20px 0;
      }

      .job-type{
        background: $orange;
        width: 20px;
        height: 20px;
        font-size: .6rem;
        color: white;
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }

      .location{
        font-size: 0.8rem;
        font-weight: 300;
        display: block;
        color: grey;
        margin-bottom: 0.4rem;

      }

      .position{
        font-size: 0.8rem;
        font-weight: 500;
        display: block;
        color: $greyLightFont2;
        margin-bottom: 0.4rem;
      }

      .time{
        font-size: .8rem;
        font-weight: 300;
        display: block;
        color: $greyLightFont2 ;
        margin-bottom: 0.4rem;
      }


    }
  }
}

table{
  width: 100%;

  thead{
    background: $greyDarkBG;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    th{
      font-size: 0.8rem;
      padding: 15px 10px;
      text-transform: uppercase;
      text-align: left;
      font-weight: 500;
      color: $greyDarkFont;

    }
  }

  tbody{
    background: white;
    font-size: 0.8rem;

    td{
      padding: 15px 10px;
      color: $greyLightFont2;
      font-size: 0.8rem;

      .logo{
        display: inline-block;
        background: $greenNeon;
        padding: 15px;
        border-radius: 50%;
        margin-right: 20px;
        height: 45px;
        width: 45px;
        color: white;
      }
    }
  }
}



/*
.col-md-2{
  width: ((2 * 100)/ 12) + %;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-3{
  width: ((3 * 100)/ 12) + %;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-4{
  width: ((4 * 100)/ 12) + %;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-9{
  width: ((9 * 100)/ 12) + %;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-10{
  width: ((10  * 100)/ 12) + %;
  padding: 0 15px;
  display: inline-block;
  float: left;
}
*/